/* Genel Ayarlar */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
  }
  
  /* Takvim Stili */
  .calendar {
    margin: .25em 10px 10px 0;
    padding-top: 5px;
    float: left;
    width: 80px;
    background: #ededef;
    background: -webkit-gradient(linear, left top, left bottom, from(#ededef), to(#ccc));
    background: -moz-linear-gradient(top, #ededef, #ccc);
    font: bold 30px/60px 'Arial Black', Arial, Helvetica, sans-serif;
    text-align: center;
    color: #000;
    text-shadow: #fff 0 1px 0;
    border-radius: 3px;
    position: relative;
    box-shadow: 0 2px 2px #888;
  }
  
  /* Em Stili */
  .calendar em {
    display: block;
    font: normal bold 11px/30px Arial, Helvetica, sans-serif;
    color: #fff;
    text-shadow: #00365a 0 -1px 0;
    background: #04599a;
    background: -webkit-gradient(linear, left top, left bottom, from(#04599a), to(#00365a));
    background: -moz-linear-gradient(top, #04599a, #00365a);
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top: 1px solid #00365a;
  }
  
  /* Pseudo Elementler */
  .calendar:before,
  .calendar:after {
    content: '';
    float: left;
    position: absolute;
    top: 5px;
    width: 8px;
    height: 8px;
    background: #111;
    z-index: 1;
    border-radius: 10px;
    box-shadow: 0 1px 1px #fff;
  }
  
  .calendar:before {
    left: 11px;
  }
  
  .calendar:after {
    right: 11px;
  }
  
  .calendar em:before,
  .calendar em:after {
    content: '';
    float: left;
    position: absolute;
    top: -5px;
    width: 4px;
    height: 14px;
    background: #dadada;
    background: -webkit-gradient(linear, left top, left bottom, from(#f1f1f1), to(#aaa));
    background: -moz-linear-gradient(top, #f1f1f1, #aaa);
    z-index: 2;
    border-radius: 2px;
  }
  
  .calendar em:before {
    left: 13px;
  }
  
  .calendar em:after {
    right: 13px;
  }
  
  /* Etkinlik Detayları Sayfası */
  .eventdetailspage {
    font-family: Arial, sans-serif;
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
  }
  
  .calendarpart {
    display: flex;
    align-items: center;
    width: 100%;
  }
  
  .eventdetailsimg {
    width: 50%;
    padding: 10px;
    box-sizing: border-box;
  }
  
  .details {
    width: 50%;
    padding: 30px;
    box-sizing: border-box;
    text-align: justify;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
  }
  
  .eventcard {
    background-color: rgb(183, 231, 183);
    border-bottom: 10px solid pink;
    border-bottom-right-radius: 25px;
    padding: 20px;
    margin: 20px;
    width: 100%;
    max-width: 300px;
    box-sizing: border-box;
    position: relative;
    top: 20px;
  }
  
  .button {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
  }
  
  .button:hover {
    background-color: #218838;
  }
  
  .comment-section button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
  }
  
  .comment-section button:hover {
    background-color: #218838;
  }
  