{% extends 'partials/base.html' %}
{% block content %}
{% load static %}

    
    <!-- About Section -->
    <div class="container1" id="about">
      <h3 class="center">Bizim Hikayemiz</h3>
      <p class="large">Bizi Farklı Kılan Özellikler</p>
      <div class="row" >
        <div class="quarter">
          <i class="fa fa-desktop margin-bottom jumbo center"></i>
          <p class="large">Kitap Seyri olarak Misyonumuz</p>
          <p>Kitap Severler İkinci El Kitap Platformu olarak misyonumuz, kitapseverlerin uygun fiyatlı ve kaliteli ikinci el kitaplara erişimini sağlamak, 
            aynı zamanda kitapların yeniden kullanılmasını teşvik ederek çevresel sürdürülebilirliğe katkıda bulunmaktır. 
            Kullanıcılarımızın kitap alışverişi deneyimlerini kolaylaştırmak, onlara geniş bir kitap yelpazesi sunmak ve bilgi paylaşımını destekleyen bir 
            topluluk oluşturmak en önemli hedeflerimizdir.</p>
        </div>
        <div class="quarter">
          <i class="fa fa-heart margin-bottom jumbo"></i>
          <p class="large">Kitap Seyri olarak Visyonumuz</p>
          <p>Türkiye'deki en güvenilir ve kullanıcı dostu ikinci el kitap alışveriş platformu olmaktır. 
            Kitap dostlarının bir araya geldiği, bilgi ve deneyim paylaşımında bulunduğu bir topluluk oluşturmayı ve aynı zamanda 
            kitap okuma kültürünü yaygınlaştırmayı amaçlıyoruz. Gelecekte, ikinci el kitap alışverişinin ilk akla gelen adresi olmayı ve sürdürülebilir kitap tüketimi
            konusunda öncü olmayı hedefliyoruz.</p>
        </div>
        <div class="quarter">
          <i class="fa fa-diamond margin-bottom jumbo"></i>
          <p class="large">Oluşum Sürecimiz</p>
          <p>Kitap Seyri İkinci El Kitap Platformu, 2024 yılında, kitapseverlerin daha uygun fiyatlarla kitaplara ulaşabilmesini ve kitapların yeniden değerlendirilebilmesini
            sağlamak amacıyla kurulmuştur. Projenin temelleri, ikinci el kitaplara olan talebin artması ve çevreye duyarlı kitap tüketiminin önem kazanması ile atıldı. 
            Platform, kullanıcılara geniş bir kitap yelpazesi sunmak, güvenilir alışveriş imkanı sağlamak ve bilgi paylaşımını teşvik etmek amacıyla geliştirildi. 
            Kuruluşumuzdan bu yana, kullanıcılarımızın geri dönüşleri ve ihtiyaçları doğrultusunda platformumuzu sürekli olarak güncelleyerek ve geliştirerek hizmet vermeye devam ediyoruz</p>
        </div>
        <div class="quarter">
          <i class="fa fa-cog margin-bottom jumbo"></i>
          <p class="large">Destek Merkezi</p>
          <p><i class="fa fa-map-marker"></i>İstanbul, Türkiye</p>
          <p><i class="fa fa-phone"></i>Phone: +90 5869621</p>
          <p><i class="fa fa-envelope"></i>Email: mail@mail.com</p>
        </div>
      </div>
    </div>
    
{% endblock %}