{% extends 'partials/base.html' %}
{% block content %}
<div class="container">
    <div class="sidebar">
        <h2>Kategoriler</h2>
        <ul>
            {% for category in categories %}
            <li><a href="?category={{ category.id }}">{{ category.name }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div class="main-content">
        <div class="book-list">
            {% for book in books %}
            <div class="book-item">
                <img src="{{ book.bookimage.url }}" alt="{{ book.bookname }}">
                <h3>{{ book.bookname }}</h3>
                <p>Yazar: {{ book.authorname }}</p>
                <p>Fiyat: {{ book.price }} ₺</p>
                <p>İndirim: {{ book.discount }} %</p>
                <p>Kategori: {{ book.booktype.name }}</p>
                <p>Dil: {{ book.booklang.name }}</p>
                <form method="post" action="{% url 'add_to_cart' book.id %}">
                    {% csrf_token %}
                    {% if user.is_authenticated %}
                    <button type="submit" class="cart-button">Sepete Ekle</button>
                {% else %}
                    <a href="{% url 'login' %}" class="button">Sepete Ekle</a>
                {% endif %}
                </form>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}


