{% extends 'partials/base.html' %}
{% block content %}
{% load static %}

<div class="contact-container">
    <div class="contact-header" style="text-align:center">
        <h2>Kitap Seyriyle Bağlantıda Kalın</h2>
        <p>Yeni bir kitaba başlayabilir <i class="fa fa-book"></i> ya da bize yazabilirsin:</p>
    </div>
    <div class="contact-row">
        <div class="contact-column">
            <img class="contact-img" src="{% static 'img/contact.jpg' %}" >
        </div>
        <div class="contact-column">
            {% if messages %}
            <div class="messages">
                {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                {% endfor %}
            </div>
            {% endif %}
            <form method="post" action="{% url 'contact' %}">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" class="contact-submit" onclick="alert('Talebiniz alınmıştır.Email kontrollerinizi unutmayın')" value="Gönder">
                
            </form>
            <br>
            <br>
            <h2>Hızlı Yanıtlar</h2>

            <button class="accordion">Nasıl İade Edebilirim?</button>
            <div class="panel">
                <p>Siparişinizi iade etmek için 30 gün süreniz bulunmaktadır.
                    Aşağıdaki adımları izleyerek kolaylıkla iadenizi gerçekleştirebilirsiniz:
                    1. İade sebebinizi en iyi açıklayan iade kodunu faturanızın ön yüzünde bulunan "iade kodu" alanına yazın.
                    2. Faturanızı, iade etmek istediğiniz ürünler ile beraber siparişinizin gönderildiğine benzer bir poşet veya kutuya yerleştirin.
                </p>
            </div>

            <button class="accordion">Değişim Yapmam Mümkün Müdür?</button>
            <div class="panel">
                <p>Yapılan alışverişlerde değişim seçeneği sunulmamaktadır.
                    Dilerseniz satın aldığınız ürünü iade edebilir ve yeni bir sipariş oluşturabilirsiniz. </p>
            </div>

            <button class="accordion">İade İçin Kargo Ücreti Ödeyecek Miyim?</button>
            <div class="panel">
                <p>İadelerinizi, anlaşmalı firmamız olan Yurtiçi Kargo ile ücretsiz bir şekilde gerçekleştirebilirsiniz.</p>
            </div>

            <script>
            var acc = document.getElementsByClassName("accordion");
            var i;

            for (i = 0; i < acc.length; i++) {
                acc[i].addEventListener("click", function(event) {
                    event.preventDefault();
                    this.classList.toggle("active");
                    var panel = this.nextElementSibling;
                    if (panel.style.display === "block") {
                        panel.style.display = "none";
                    } else {
                        panel.style.display = "block";
                    }
                });
            }
            </script>
        </div>
    </div>
</div>
{% endblock %}
