{% extends 'partials/base.html' %}
{% block content %}
{% load static %}

<!-- main section -->
    <section id="mainSlider" class="slider">	
        <div id="mainCaption" class="caption"></div>
        <h1>Oku, Paylaş, Keşfet!</h1>
        <p>Okumanın Sihirli Dünyasına Hoşgeldin!</p>
    </section>

    <!-- feature section -->
    <section id="features" class="sectionArea">
        <div class="featuresTop">
            <h2 class="sectionHeader">Favori Kitaplar</h2>
        </div>
        <div class="featuresBody">
            <div class="container">
                {% for book in favorite_books %}
                <div class="col3">
                    <div class="item">
                        <div class="zoom">
                            <img src="{{ book.bookimage.url }}" alt="{{ book.bookname }}">
                        </div>
                        <div class="itemText">
                            <h3>{{ book.bookname }}</h3>
                            <p>Yazar: {{ book.authorname }}</p>
                            <a href="{% url 'buybook' %}" class="btnDetails">Satın Al</a>
                        </div>       
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <!-- parallax section -->
    
    <section id="events" class="sectionArea bg-image">
        <div class="featuresTop">
            <h2 class="sectionHeader">Etkinlik Ajandası</h2>
        </div>
        <div class="featuresBody">
            <div class="container">
                <p>Hemen sen de kayıt ol ve yapacağımız okuma etkinliklerinde yerini al.Üstelik etkinliklerimizde bir sürpriz isim bizimle! Misafirimiz kitabın yazarı, editörü ve kim bilir kitabın karakteri olabilir.</p>
                <p>Haydi birlikte okumanın sihirli dünyasında kaybolalım. <a href="{% url 'event_list' %}">Etkinliklerimize Davetlisiniz! Kayıt İçin Tıklayın.</a></p>
            </div>
        </div>
    </section>

    <!-- activity section -->
    <section id="activity" class="sectionArea">
        <div class="activityTop">
            <h2 class="sectionHeader">Bilgi Köşesi</h2>
            <p>Bilgi dolu ve ilham verici makalelerimizle, kitapların ötesine geçerek yeni keşiflere çıkın</p>
            <p>Zihninizi genişletecek, ufkunuzu açacak ve okuma tutkunuzu pekiştirecek bu yazılarla, her sayfada yeni bir bilgi sizi bekliyor. </p>
            <p>Makalelerimizi keşfetmek için hemen şimdi göz atın!</p>
        </div>
        <div class="articleBody">
            <div class="container">
                {% for article in articles %}
                <div class="col2">
                    <div class="articleContainer">
                        <img src="{{ article.image.url }}" class="imageOver" alt="{{ article.title }}">
                        <h2><a href="{% url 'article_detail' article.id %}">{{ article.title }}</a></h2>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <!-- footer section -->
    {% endblock %}