{% extends 'partials/base.html' %}
{% block content %}
<div class="profile-container">
    <div class="profile-header">
        <h2>Profilim</h2>
        <p class="welcome-message">Hoşgeldin, {{ user.username }}</p>
    </div>
    <div class="profile-content">
        <div class="profile-section">
            <h3>Siparişlerim</h3>
            <ul>
                {% for order in orders %}
                <li>{{ order.book.bookname }} - {{ order.ordered_at }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="profile-section">
            <h3>Eklediğim Kitaplar</h3>
            <ul>
                {% for book in user_books %}
                <li>{{ book.bookname }} - {{ book.created_at }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}

