{% extends 'partials/base.html' %}
{% block content %}
<div class="profile">
    <h2>Profilim</h2>
    <p>Hoşgeldin, {{ user.username }}</p>
    <h3>Siparişlerim</h3>
    <ul>
        {% for order in orders %}
        <li>{{ order.book.bookname }} - {{ order.ordered_at }}</li>
        {% endfor %}
    </ul>

    <h3>Eklediğim Kitaplar</h3>
    <ul>
        {% for book in user_books %}
        <li>{{ book.bookname }} - {{ book.created_at }}</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}

