{% extends 'partials/base.html' %}
{% block content %}
{% load static %}

<div class="row">
    {% for article in articles %}
    <div class="column">
        <img src="{{ article.image.url }}" alt="{{ article.title }}">
        <p><a href="{% url 'article_detail' article.id %}">{{ article.title }}</a></p>
        <p>{{ article.content|truncatewords:30 }}</p>
        <div class="like-container">
            <button class="like-button" onclick="likeArticle('{{ article.id }}, {{ csrf_token }}')">
                <span class="like-icon">👏</span>
            </button>
            <span id="like-count-{{ article.id }}">{{ article.likes }}</span>
        </div>
    </div>
    {% endfor %}
</div>
<script src="{% static 'js/article.js' %}"></script>
{% endblock %}




