{% extends 'partials/base.html' %}
{% block content %}
<div class="eventdetailspage"> 
    <div class="calendarpart">  
        <p class="calendar">{{ event.date|date:"d" }} <em>{{ event.date|date:"M" }}</em></p>
        <h3 class="eventheader">{{ event.title }}</h3>
    </div>        
    <img class="eventdetailsimg" src="{{ event.image.url }}" alt="Etkinlik Görseli">
    <div class="details">
        <p>{{ event.description }}</p>
    </div>
    <div class="eventcard">
        <p><b>Başlangıç</b>
        <br><i class="fa fa-clock-o" style="font-size:24px;color:palevioletred;"></i>
        <br>{{ event.date|date:"d M, l" }}
        <br><i class="fa fa-map-marker" style="font-size:24px;color:palevioletred;"></i>
        <br>{{ event.time|time:"H:i" }}
        <br>{{ event.location }}
        <br>Katılıyor musun?
        <br>
        {% if user.is_authenticated %}
            <a href="{% url 'join_event' event.pk %}" onclick="alert('Pazar akşamı görüşmek üzere.')" class="button">Katılıyorum</a>
        {% else %}
            <a href="{% url 'login' %}" class="button">Giriş Yap</a>
        {% endif %}
        <br><br><a href="https://zoom.us/j/your-zoom-meeting-id" target="_blank">Zoom Bağlantısı</a></p>
    </div>
    <div class="comment-section">
        <h3>Yorumlar</h3>
        <ul>
            {% for comment in comments %}
            <li><strong>{{ comment.user.username }}</strong>: {{ comment.content }} <em>{{ comment.created_at }}</em></li>
            {% endfor %}
        </ul>
        <h3>Etkinlik hakkında bir şeyler yazın</h3>
        {% if user.is_authenticated %}
        <form method="post">
            {% csrf_token %}
            {{ comment_form.as_p }}
            <button type="submit">Gönder</button>
        </form>
        {% else %}
        <p>Yorum yapabilmek için <a href="{% url 'login' %}">giriş yapmalısınız</a>.</p>
        {% endif %}
    </div>
</div>
{% endblock %}
